#ratingSlider {
  width: 300px;
}

#ratingContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#currentRating {
  min-width: 30px; 
  text-align: center; 
}

h1 {
  font-size: 24px;
  margin: 0 auto; /* Center the text horizontally */
  text-align: center; /* Center the text within the container */
  color: rgb(226, 27, 112); /* Set the text color to pink */
  font-style: italic; /* Add italic style */
  display: inline-block; /* Ensure that the italic style applies correctly */
  padding: 5px 10px; /* Add padding for better visibility */
}

p {
  font-size: 16px;
  color: #666; 
  margin-bottom: 20px;
}

label {
  font-size: 14px;
  color: #555; 
  margin-bottom: 10px;
  display: block;
}